@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;1,300&display=swap");
@font-face {
  font-family: "Conv_Gotham-Bold_2";
  src: url("../fonts/Gotham-Bold_2.eot");
  src: local("☺"), url("../fonts/Gotham-Bold_2.woff") format("woff"), url("../fonts/Gotham-Bold_2.ttf") format("truetype"), url("../fonts/Gotham-Bold_2.svg") format("svg");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "Conv_Gotham-Book_2";
  src: url("../fonts/Gotham-Book_2.eot");
  src: local("☺"), url("../fonts/Gotham-Book_2.woff") format("woff"), url("../fonts/Gotham-Book_2.ttf") format("truetype"), url("../fonts/Gotham-Book_2.svg") format("svg");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "Conv_Gotham-Medium_1";
  src: url("../fonts/Gotham-Medium_1.eot");
  src: local("☺"), url("../fonts/Gotham-Medium_1.woff") format("woff"), url("../fonts/Gotham-Medium_1.ttf") format("truetype"), url("../fonts/Gotham-Medium_1.svg") format("svg");
  font-weight: normal;
  font-style: normal;
}
body {
  margin: 0 auto;
}

.container {
  max-width: 1170px;
  margin: 0 auto;
}

.container2 {
  max-width: 770px;
  margin: 0 auto;
}

*, *:before, *:after {
  padding: 0;
  margin: 0;
  border: 0;
  box-sizing: border-box;
}

header {
  background-image: url("../img/hed.png");
  height: 800px;
}
header .header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
header .header .logo {
  margin-top: 60px;
}
header .header .menu {
  margin-top: 60px;
  justify-content: space-between;
}
header .header .menu__link {
  text-transform: uppercase;
  font-family: "Conv_Gotham-Book_2";
  text-decoration: none;
  color: white;
  font-size: 14px;
  margin: 0 50px 0 50px;
}
header .header .menu__link__hover {
  margin: 0 10px 0 10px;
  margin-top: 60px;
}
@keyframes bounce {
  0%, 20%, 60%, 100% {
    transform: translateY(0);
  }
  40% {
    transform: translateY(-20px);
  }
  80% {
    transform: translateY(-10px);
  }
}
header .header .menu__link__hover:hover {
  animation: bounce 1s;
}
header .header__article {
  color: white;
}
header .header__article .header__simple {
  font-family: "Conv_Gotham-Bold_2";
  text-transform: uppercase;
  font-size: 80px;
  display: flex;
  justify-content: center;
  margin-top: 195px;
}
header .header__article .header__p {
  font-family: "Conv_Gotham-Book_2";
  text-transform: uppercase;
  font-size: 18px;
  display: flex;
  justify-content: center;
}
header .scroll {
  display: flex;
  justify-content: space-around;
  margin-top: 226px;
}
@keyframes bounce {
  0%, 20%, 60%, 100% {
    transform: translateY(0);
  }
  40% {
    transform: translateY(-20px);
  }
  80% {
    transform: translateY(-10px);
  }
}
header .scroll:hover {
  animation: bounce 1s;
}

.what .what__height {
  height: 2px;
  background-color: #2C4058;
  width: 100px;
  display: flex;
  justify-content: center;
  margin: 0 auto;
  margin-top: 100px;
}
.what .what__what__we {
  font-family: "Conv_Gotham-Bold_2";
  text-transform: uppercase;
  font-size: 44px;
  text-align: center;
  margin-bottom: 100px;
  margin-top: 40px;
}
.what .what__section1 {
  display: flex;
  justify-content: space-between;
  margin-bottom: 140px;
}
@media screen and (max-width: 1110px) {
  .what .what__section1 {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
}
.what .what__section1 .what__1 {
  position: absolute;
}
@media screen and (max-width: 1110px) {
  .what .what__section1 .what__1 {
    position: relative;
    display: flex;
    justify-content: center;
    margin-top: -470px;
  }
}
@media screen and (max-width: 650px) {
  .what .what__section1 .what__1 {
    width: 100%;
  }
}
.what .what__section1 .what__1__img {
  position: relative;
  display: flex;
  height: 470px;
  width: 630px;
  background-color: #55B7FF;
  right: 215px;
  top: -70px;
}
@media screen and (max-width: 1110px) {
  .what .what__section1 .what__1__img {
    background: none;
  }
}
.what .what__1__tex {
  width: 473px;
  height: 470px;
}
@media screen and (max-width: 1110px) {
  .what .what__1__tex {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 0 auto;
  }
}
.what .what__1__tex .one {
  font-family: "Conv_Gotham-Book_2";
  text-transform: uppercase;
  font-size: 22px;
  margin: 60px 0 0 0;
}
.what .what__1__tex .trade {
  font-family: "Conv_Gotham-Bold_2";
  text-transform: uppercase;
  font-size: 44px;
  margin: 17px 0 0 0;
}
.what .what__1__tex .what__tex {
  margin: 42px 0 60px;
  font-family: "Open Sans", sans-serif;
  font-size: 18px;
}
.what .what__1__tex .what__and {
  margin-top: 60px;
  font-family: "Open Sans", sans-serif;
  font-size: 18px;
}
.what .what__1__tex .what__we__check {
  font-family: "Conv_Gotham-Book_2";
  text-transform: uppercase;
  border: 2px solid #2C4058;
  color: #2C4058;
  font-size: 14px;
  padding: 20px 50px;
  width: 190px;
  text-decoration: none;
  margin: 0 auto;
  margin-bottom: 140px;
}
.what .what__1__tex .what__we__check:hover {
  background: #55B7FF;
  color: white;
  font-family: "Conv_Gotham-Bold_2";
}
.what .what__section2 {
  display: flex;
  justify-content: space-between;
  flex-direction: row-reverse;
  margin-bottom: 140px;
}
@media screen and (max-width: 1110px) {
  .what .what__section2 {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
}
.what .what__section2 .what__2 {
  position: absolute;
}
@media screen and (max-width: 1110px) {
  .what .what__section2 .what__2 {
    position: relative;
    display: flex;
    justify-content: center;
    margin-top: -470px;
  }
}
@media screen and (max-width: 650px) {
  .what .what__section2 .what__2 {
    width: 100%;
  }
}
.what .what__section2 .what__2__img {
  position: relative;
  display: flex;
  height: 470px;
  width: 630px;
  background-color: #7E5AFF;
  left: 215px;
  top: -70px;
}
@media screen and (max-width: 1110px) {
  .what .what__section2 .what__2__img {
    background: none;
  }
}
.what .what__2__tex {
  width: 473px;
  height: 470px;
}
@media screen and (max-width: 1110px) {
  .what .what__2__tex {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 0 auto;
  }
}
.what .what__2__tex .one {
  font-size: 14px;
}
.what .what__2__tex .trade {
  font-size: 44px;
}
.what .what__2__tex .what__tex {
  font-size: 18px;
}
.what .what__2__tex .what__and {
  font-size: 18px;
}
.what .what__2__tex .what__we__check {
  border: 2px solid #2C4058;
  color: #2C4058;
  font-size: 14px;
  padding: 20px 50px;
  width: 190px;
  text-decoration: none;
  margin: 0 auto;
  margin-bottom: 140px;
}
.what .what__2__tex .what__we__check:hover {
  background: #6342ef;
  color: white;
}

.latest__news {
  background-image: url("../img/lates.png");
  height: 1030px;
}
.latest__news .latest__news__news {
  margin-top: 100px;
}
.latest__news .latest__height {
  height: 2px;
  background-color: #ffffff;
  width: 100px;
  display: flex;
  justify-content: center;
  margin: 0 auto;
}
.latest__news .what__what__we {
  font-family: "Conv_Gotham-Medium_1";
  text-transform: uppercase;
  color: white;
  font-size: 44px;
  text-align: center;
  margin-bottom: 100px;
  margin-top: 40px;
}
.latest__news .wrapper {
  height: 60%;
  padding: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  /* Основные стили */
  /* Слайдер */
  /* Ограничивающая оболочка */
  /* Лента слайдов */
  /* Слайд */
  /* Слайд активный */
  /* Слайд основной */
  /* Слайд по центру */
  /* Стрелка */
  /* Стрелка влево */
  /* Стрелка вправо */
  /* Стрелка не активная */
  /* Точки */
  /* Конкретный слайдер */
}
@media (max-width: 767px) {
  .latest__news .wrapper .wrapper {
    padding: 50px 10px;
  }
}
.latest__news .wrapper .slider__news {
  width: 370px;
  height: 514px;
  background-color: white;
}
.latest__news .wrapper .news__tex {
  font-family: "Conv_Gotham-Bold_2";
  text-transform: uppercase;
  font-size: 20px;
  margin: 0 20px;
  padding-top: 30px;
  padding-bottom: 21px;
}
.latest__news .wrapper .news__tex__1 {
  font-family: "Open Sans", sans-serif;
  font-size: 18px;
  margin: 0 20px;
  padding-bottom: 29px;
}
.latest__news .wrapper .img__1 {
  margin: 0 20px;
  display: flex;
}
.latest__news .wrapper .img__1__1 {
  font-family: "Conv_Gotham-Book_2";
  font-size: 18px;
  text-transform: uppercase;
  margin: 0 20px 0 0;
}
.latest__news .wrapper .slick-slider {
  min-width: 0;
}
.latest__news .wrapper .slick-list {
  overflow: hidden;
}
.latest__news .wrapper .slick-track {
  display: flex;
  align-items: flex-start;
}
.latest__news .wrapper .slider {
  position: relative;
  padding: 0 60px;
}
@media (max-width: 767px) {
  .latest__news .wrapper .slider {
    padding: 0 40px;
  }
}
.latest__news .wrapper .slider .slick-arrow {
  position: absolute;
  top: 50%;
  margin: -30px 0px 0px 0px;
  z-index: 10;
  font-size: 0;
  width: 30px;
  height: 60px;
}
.latest__news .wrapper .slider .slick-arrow.slick-prev {
  left: 0;
  background: url("../img/sl-arrow_l.svg") 0 0/100% no-repeat;
}
.latest__news .wrapper .slider .slick-arrow.slick-next {
  right: 0;
  background: url("../img/sl-arrow_r.svg") 0 0/100% no-repeat;
}
.latest__news .wrapper .slider .slick-arrow.slick-disabled {
  opacity: 0.2;
}
.latest__news .wrapper .slider .slick-dots {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 60px;
}
.latest__news .wrapper .slider .slick-dots li {
  list-style: none;
  margin: 0 10px;
}
.latest__news .wrapper .slider .slick-dots button {
  font-size: 0;
  width: 10px;
  height: 10px;
  background-color: #fff;
  border-radius: 50%;
  margin: 0 40px;
  margin-top: 60px;
}
.latest__news .wrapper .slider .slick-dots li.slick-active button {
  background-color: transparent;
  border: 1px solid #fff;
}
.latest__news .wrapper .slider__item {
  padding: 0 15px;
}
.latest__news .wrapper .slider__item img {
  max-width: 100%;
}
.gallery .gallery__height {
  height: 2px;
  background-color: #2C4058;
  width: 100px;
  display: flex;
  justify-content: center;
  margin: 0 auto;
  margin-top: 140px;
}
.gallery .gallery__what {
  font-family: "Conv_Gotham-Medium_1";
  text-transform: uppercase;
  display: flex;
  justify-content: center;
  font-size: 44px;
  margin-top: 40px;
  margin-bottom: 100px;
}
.gallery .gallery__img {
  display: flex;
}
@media screen and (max-width: 1200px) {
  .gallery .gallery__img {
    flex-direction: column;
    align-items: center;
  }
}
@media screen and (max-width: 600px) {
  .gallery .gallery__img {
    width: 100%;
  }
}
@media screen and (max-width: 1200px) {
  .gallery .gallery__img .gallery__img__1 {
    margin: 0 10px;
  }
}
.gallery .gallery__img .gallery__img__2 {
  margin: 0 10px;
  display: flex;
  flex-flow: wrap;
}
@media screen and (max-width: 1200px) {
  .gallery .gallery__img .gallery__img__2 {
    margin: 10px 0;
    display: block;
  }
}
@media screen and (max-width: 573px) {
  .gallery .gallery__img .gallery__img__2 {
    display: flex;
    justify-content: center;
  }
}
.gallery .gallery__img .gallery__img__3 {
  display: flex;
  flex-flow: wrap;
}
@media screen and (max-width: 1200px) {
  .gallery .gallery__img .gallery__img__3 {
    display: block;
  }
}
@media screen and (max-width: 573px) {
  .gallery .gallery__img .gallery__img__3 {
    display: flex;
    justify-content: center;
  }
}
.gallery .see__more {
  font-family: "Conv_Gotham-Book_2";
  text-transform: uppercase;
  border: 2px solid #2C4058;
  color: #2C4058;
  font-size: 14px;
  padding: 20px 50px;
  width: 190px;
  text-decoration: none;
  display: flex;
  justify-content: center;
  margin: 0 auto;
  margin-bottom: 140px;
  margin-top: 60px;
  position: relative;
  background-color: white;
}
.gallery .see__more:hover {
  font-family: "Conv_Gotham-Bold_2";
  background: #496bfe;
  color: white;
}
.gallery .scale {
  transition: 1s;
}
@media screen and (max-width: 573px) {
  .gallery .scale {
    margin: 10px 0;
  }
}
.gallery .scale:hover {
  transform: scale(1.4);
}

#map {
  height: 700px;
}
#map iframe {
  width: 100%;
}
#map #iw2 p {
  color: red;
}

footer {
  background-image: url("../img/footer.png");
  height: 524px;
}
footer .contact {
  background-image: url("../img/contact.png");
  width: 770px;
  height: 450px;
  margin: 0 auto;
  position: relative;
  display: flex;
  justify-content: center;
  top: -243px;
  box-shadow: 0 2px 15px -4px rgba(0, 0, 0, 0.75);
}
footer .contact .contact__what {
  display: flex;
  flex-direction: column;
  margin-top: 60px;
}
footer .contact .contact__height {
  height: 2px;
  background-color: #2C4058;
  width: 100px;
  display: flex;
  justify-content: center;
  margin: 0 auto;
}
footer .contact .contact__we {
  font-family: "Conv_Gotham-Medium_1";
  text-transform: uppercase;
  font-size: 44px;
  text-align: center;
}
footer .contact .contact__we__we {
  width: 660px;
  height: 260px;
  display: flex;
  margin-top: 50px;
}
footer .contact .text__contact__1 {
  width: 390px;
  height: 220px;
  font-family: "Conv_Gotham-Book_2";
  font-size: 18px;
  color: #3A4D63;
}
footer .contact .text__contact__1 .text__contact__1__1 {
  margin: 8px 0;
}
footer .contact .text__contact__1 .img__contact {
  margin: 0 11px;
}
footer .contact .text__contact__2 {
  width: 310px;
  height: 220px;
  font-family: "Conv_Gotham-Book_2";
  margin-left: 110px;
  color: #3A4D63;
  font-size: 18px;
}
footer .contact .text__contact__2 .firstname {
  border-bottom: solid 1px #3A4D63;
  padding: 20px 0;
}
footer .contact .text__contact__2 .email__contact {
  padding: 20px 0;
  color: #C9CCD0;
  font-size: 18px;
  border-bottom: solid 1px #3A4D63;
  width: 244px;
}
footer .contact .text__contact__2 .submit {
  border: 2px solid #2C4058;
  width: 140px;
  padding: 10px 0;
  margin-top: 13px;
  margin-left: 80px;
}
footer .contact .text__contact__2 .submit:hover {
  font-family: "Conv_Gotham-Bold_2";
  background: #496bfe;
  color: white;
}
footer .contact .text__contact__2 .submit__submit {
  text-decoration: none;
  color: #2C4058;
  font-size: 14px;
  text-align: center;
  text-transform: uppercase;
  margin: 40px;
}
footer .contact .text__contact__2 .submit__submit:hover {
  color: white;
}
footer .footer__1 {
  display: flex;
  justify-content: space-between;
  margin-top: -210px;
}
footer .footer__3img {
  margin: 0 10px;
  text-decoration: none;
}
@keyframes bounce {
  0%, 20%, 60%, 100% {
    transform: translateY(0);
  }
  40% {
    transform: translateY(-20px);
  }
  80% {
    transform: translateY(-10px);
  }
}
footer .footer__3img:hover {
  animation: bounce 1s;
}
footer .footer__text__and {
  font-family: "Conv_Gotham-Book_2";
  color: white;
  font-size: 14px;
}

/*# sourceMappingURL=main.css.map */
